@import url(reset.css);
@import url(fonts.css);
@import url(all.css);
@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);
@import url(slick.css);
@import url(slick-theme.css);
/* 
** FONTS **
- Century Gothic Regular
- Rage Italic Regular
- Arial Regular
- Muli
- Myriad
*/
/*GENERAL SETTINGS*/
body {
  font-family: 'Century Gothic';
  color: #000;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 17px;
  color: #cd0020;
}

h5 {
  font-size: 16px;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

input[type="email"],
input[type="search"] {
  background: #d9d9d9;
  border: none;
  padding: 5px 28px 5px 10px;
}

input[type="email"]::placeholder,
input[type="search"]::placeholder {
  color: #000;
  opacity: 1;
}

input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder {
  color: #000;
}

input[type="email"]::-ms-input-placeholder,
input[type="search"]::-ms-input-placeholder {
  color: #000;
}

input[type="submit"] {
  background: #f2f2f2;
  color: #000;
  font-weight: bold;
  border: 1px solid #000;
  height: 28px;
  width: 28px;
  margin-left: 5px;
}

.text-center {
  text-align: center;
}

.heading-group {
  margin-top: 35px;
  margin-bottom: 25px;
  text-align: center;
}

.slick-prev,
.slick-next {
  width: 34px;
  height: 34px;
  background: #ccc;
}

.slick-prev:before,
.slick-next:before {
  color: #fff;
  content: '>';
  font-size: 25px;
  font-family: arial;
  line-height: 1.5;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: #ccc;
}

.slick-prev {
  left: -35px;
}

.slick-prev:before {
  content: '<';
}

.slick-next {
  right: -35px;
}

.icon-prev,
.icon-next {
  height: 34px;
  width: 34px;
  display: inline-block;
  background: url(../img/icon-left.png);
}

.icon-next {
  background: url(../img/icon-right.png);
}

.link-wishlist {
  background: url(../img/icon_wishlist.png) no-repeat center left;
  padding-left: 25px;
}

.buy-button {
  color: #fff;
  font-family: Arial;
  background: #cd0020;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: background 0.2s ease-out,  color 0.2s ease-out;
}

.buy-button:hover {
  color: #cc2942;
  background: #fff;
  border: 1px solid #cc2942;
}

/*HEADER*/
.top-nav {
  background: #f6f6f6;
  font-size: 12px;
}

.top-nav-links {
  overflow: hidden;
  padding: 5px 0;
}

.top-nav-links li {
  float: left;
  margin-left: 5px;
}

.top-nav-links li.link-name {
  background: url(../img/icon_logo.png) no-repeat center left;
  padding-left: 35px;
  margin-left: 15px;
}

.top-nav-links .link-wishlist {
  margin: 0 20px;
}

.top-nav-links .link-bag {
  background: url(../img/icon_bag.png) no-repeat 20px center #000;
  padding: 10px 10px 10px 45px;
  margin-left: 15px;
  color: #fff;
}

.form-search input[type="search"] {
  height: 17px;
  width: 260px;
  padding: 5px 10px;
}

.form-search input[type="submit"] {
  margin-left: -3px;
}

.main-nav {
  border-bottom: 1px solid #e6e6e6;
}

.main-nav h1 {
  font-family: 'Rage';
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 0;
}

.main-nav-links {
  font-family: 'Arial Regular';
  font-size: 12px;
  text-transform: uppercase;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: -15px;
}

.main-nav-links li {
  float: left;
  margin-left: 15px;
  height: 41px;
  padding-top: 15px;
}

.main-nav-links li:first-child {
  color: #aeacac;
  background: url(../img/divisor.png) no-repeat right 2px;
  padding-right: 25px;
  margin-right: 15px;
  margin-left: -90px;
}

.main-nav-links li:last-child {
  border-right: 1px solid #c1c1c1;
  padding-right: 15px;
}

/*MAIN PRODUCT*/
.main-product {
  padding-top: 5px;
  margin-bottom: 35px;
}

.main-product .link-back {
  position: relative;
  text-decoration: underline;
  font-family: 'Muli';
  font-weight: 600;
}

.main-product .link-back:before {
  content: '<';
  position: absolute;
  left: -10px;
}

.main-product .prev-product,
.main-product .next-product {
  font-family: arial;
  color: #7f7f7f;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
}

.main-product .prev-product:focus, .main-product .prev-product:hover,
.main-product .next-product:focus,
.main-product .next-product:hover {
  text-decoration: none;
}

.main-product .prev-product .text,
.main-product .next-product .text {
  margin: 0 10px;
}

.main-product .next-product {
  float: right;
}

/*MAIN GALLERY*/
.gallery-component {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.gallery-component img {
  margin: 0 auto;
}

.gallery-component .gallery-carousel-nav .gallery-nav-items {
  border: 1px solid #e3e3e3;
  padding: 20px 10px;
}

.gallery-component .gallery-carousel-nav .gallery-nav-items:focus {
  border: 1px solid #999;
}

.gallery-component .gallery-carousel-nav .slick-list {
  padding: 0 !important;
  overflow: visible !important;
}

.gallery-component .gallery-carousel-nav .slick-current {
  border: 1px solid #999;
  outline: none;
}

.gallery-component .gallery-carousel-main .gallery-items:focus {
  outline: none;
}

.main-infos {
  position: relative;
}

.main-infos .product-title {
  margin-top: 15px;
}

.main-infos .product-code {
  font-family: Arial;
  color: #7f7f7f;
  font-size: 12px;
}

.main-infos .product-description {
  font-size: 15px;
  color: #7f7f7f;
  margin-top: 10px;
}

.main-infos .read-more {
  text-decoration: underline;
  font-size: 15px;
  color: #7f7f7f;
  float: right;
  margin-bottom: 15px;
}

.main-infos .product-colors {
  font-size: 15px;
  padding: 20px 0;
  clear: both;
  border-top: 1px dotted #000;
  border-bottom: 1px dotted #000;
}

.main-infos .color-label {
  font-weight: bold;
}

.main-infos .color-carousel {
  position: relative;
  margin-top: 15px;
}

.main-infos .slick-prev {
  display: none !important;
}

.product-price {
  position: relative;
  padding: 15px 0;
}

.product-price .off-value {
  text-decoration: line-through;
}

.product-price .part-value {
  font-size: 16px;
  margin-top: 10px;
}

.product-price .part-value span {
  font-size: 22px;
}

.product-price .buy-button {
  width: 175px;
  padding: 5px 10px;
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 0;
}

.product-price .link-wishlist {
  float: right;
}

.product-price .share-medias {
  clear: both;
  display: flex;
  align-items: center;
}

.product-price .share-medias li {
  margin-left: 15px;
}

.product-price .share-medias li:first-child {
  margin-left: 0;
}

.product-price .share-medias iframe {
  display: block;
}

.product-price .share-medias .mailto {
  background: #999;
  color: #fff;
  width: 27px;
  height: 27px;
  display: inline-block;
  text-align: center;
  line-height: 2;
  border-radius: 50%;
}

/*OTHER PRODUCTS*/
.products {
  background: #efede8;
  padding-top: 20px;
  padding-bottom: 60px;
}

.product-item {
  background: #ffffff;
  text-align: center;
  position: relative;
  padding: 20px 25px 10px 25px;
  min-height: 387px;
}

.product-item .product-label {
  color: #7f7f7f;
  font-size: 12px;
}

.product-item .product-name {
  font-weight: bold;
}

.product-item .price-tag {
  font-size: 16px;
  margin-bottom: 40px;
}

.product-item img {
  display: block;
  margin: 0 auto;
}

.product-item a {
  text-transform: uppercase;
  font-size: 12px;
  border-top: 1px solid #999;
  padding-top: 15px;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 25px;
  right: 25px;
  padding-bottom: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.product-item:hover a {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.product-item .color-carousel {
  position: absolute;
  bottom: 25px;
  left: 50px;
  right: 50px;
  margin: 0 auto;
}

/*COLOR CAROUSEL*/
.color-carousel {
  width: 122px;
  height: 31px;
}

.color-carousel .color-item,
.color-carousel .slick-cloned {
  height: 31px !important;
  width: 31px !important;
  box-sizing: border-box;
  padding: 5px;
  transition: padding .2s ease;
}

.color-carousel .slick-current {
  padding: 0px;
}

.color-carousel .square {
  height: 100%;
  width: 100%;
  display: block;
}

.color-carousel .item-blue {
  background: #1a7ba8;
}

.color-carousel .item-yellow {
  background: #ffed9d;
}

.color-carousel .item-black {
  background: #211500;
}

.color-carousel .item-gray {
  background: #2c2c2c;
}

.color-carousel .item-green {
  background: #5db284;
}

.color-carousel .slick-next,
.color-carousel .slick-prev {
  height: 21px;
  top: 30%;
  background: none;
}

.color-carousel .slick-next:before,
.color-carousel .slick-prev:before {
  font-family: 'slick';
  content: '>';
  color: #a3a3a3;
  font-size: 25px;
  line-height: 1;
}

.color-carousel .slick-next {
  right: -35px;
}

.color-carousel .slick-prev {
  left: -35px;
}

.color-carousel .slick-prev:before {
  content: '<';
}

/*BUY ITEMS*/
.buy-items {
  font-size: 20px;
  font-weight: bold;
  margin-top: 150px;
  position: relative;
}

.buy-items .buy-discount {
  color: #222;
  font-size: 14px;
  text-decoration: line-through;
  position: absolute;
  top: 0;
}

.buy-items .buy-price {
  margin-top: 20px;
  display: inline-block;
}

.buy-items .buy-button {
  width: 94px;
  float: right;
}

/*PRODUCT & INSTAGRAM CAROUSEL*/
.product-carousel,
.instagram-carousel {
  width: 100%;
  float: left;
  min-height: 1px;
}

.instagram-carousel {
  margin-bottom: 45px;
}

.instagram-carousel figure {
  position: relative;
}

.instagram-carousel img {
  width: 100%;
}

.instagram-carousel figcaption {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  font-family: 'Myriad';
  padding: 6px 5px;
}

.instagram-carousel .instagram-link {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  background: #a37658;
  width: 28px;
  height: 100%;
  text-align: center;
}

/*FOOTER*/
.benefits {
  padding: 20px 15px;
}

.benefits-itens {
  font-size: 16px;
  overflow: hidden;
  width: 100%;
}

.benefits-itens li {
  border-left: 1px solid #ccc;
  float: left;
  width: 25%;
  text-align: center;
}

.benefits-itens li:last-child {
  border-right: 1px solid #ccc;
}

.benefits-itens .production,
.benefits-itens .delivery,
.benefits-itens .payment,
.benefits-itens .guarantee {
  background: url(../img/icon_linha.png) no-repeat;
  text-indent: -9999px;
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 51px;
  margin-bottom: 10px;
}

.benefits-itens .delivery {
  background-image: url(../img/icon_entrega.png);
  width: 73px;
}

.benefits-itens .payment {
  background-image: url(../img/icon-seguro.png);
  width: 57px;
}

.benefits-itens .guarantee {
  background-image: url(../img/icon_garantia.png);
  background-position: center;
  width: 56px;
}

.sitemap {
  background: #efede8;
  padding: 45px 0;
}

.sitemap a {
  font-size: 12px;
}

.social-media {
  overflow: hidden;
  margin-top: 15px;
}

.social-media li {
  float: left;
  margin-right: 7px;
}

.social-media li a {
  width: 37px;
  height: 37px;
  background: #cd0020;
  text-align: center;
  display: block;
  padding-top: 7px;
}

.social-media li i {
  font-size: 24px;
  color: #fff;
}

.newsletter {
  border-top: 1px solid #797979;
  padding-top: 10px;
}

.newsletter h5 {
  margin-bottom: 15px;
}

.info-footer {
  position: relative;
}

.cards {
  overflow: hidden;
  padding: 30px 0;
}

.cards li {
  float: left;
  margin-right: 15px;
}

.cards span {
  text-indent: -99999px;
  display: inline-block;
}

.cards .visa,
.cards .master,
.cards .dinners,
.cards .american,
.cards .hiper,
.cards .itau,
.cards .boleto {
  background: url(../img/spritesheet_cartoes.png) no-repeat;
  width: 56px;
  height: 26px;
}

.cards .master {
  background-position-x: -65px;
  width: 40px;
}

.cards .dinners {
  background-position-x: -110px;
  width: 40px;
}

.cards .american {
  background-position-x: -152px;
  width: 35px;
}

.cards .hiper {
  background-position-x: -188px;
}

.cards .itau {
  background-position-x: -248px;
  width: 29px;
}

.cards .boleto {
  background-position-x: -293px;
}

.stamps {
  position: absolute;
  right: 15px;
  top: 30px;
  overflow: hidden;
}

.stamps li {
  float: left;
}

.stamps li span {
  text-indent: -9999px;
  height: 33px;
  display: inline-block;
}

.stamps li:first-child span {
  background: url(../img/site_seguro.jpg) no-repeat;
  width: 68px;
  margin-right: 20px;
}

.stamps li:last-child span {
  background: url(../img/rakuten_logo.jpg) no-repeat;
  width: 131px;
}

.address-footer {
  border-top: 1px dotted #000;
  text-align: center;
  font-family: 'Arial Regular';
  font-size: 10px;
  padding: 15px 0;
}
